html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template, [hidden] {
  display: none;
}

html {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #666;
  font-size: 16px;
  line-height: 2em;
}

@media (min-width: 480px) {
  html {
    font-size: calc( 16px + (22 - 16) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

p, blockquote, pre,
address,
dl, ol, ul,
table {
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #111;
  clear: both;
}

h1 {
  font-size: 53.81783px;
  margin-top: 0.74325em;
  line-height: 0.8919em;
  margin-bottom: 0.14865em;
}

@media (min-width: 480px) {
  h1 {
    font-size: calc( 53.81783px + (73.99952 - 53.81783) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h1 {
    font-size: 73.99952px;
    margin-top: 0.74325em;
    line-height: 0.8919em;
    margin-bottom: 0.14865em;
  }
}

h2 {
  font-size: 42.22454px;
  margin-top: 0.94732em;
  line-height: 1.13678em;
  margin-bottom: 0.20292em;
}

@media (min-width: 480px) {
  h2 {
    font-size: calc( 42.22454px + (58.05875 - 42.22454) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h2 {
    font-size: 58.05875px;
    margin-top: 0.94732em;
    line-height: 1.13678em;
    margin-bottom: 0.19925em;
  }
}

h3 {
  font-size: 33.12865px;
  margin-top: 1.20741em;
  line-height: 1.4489em;
  margin-bottom: 0.26335em;
}

@media (min-width: 480px) {
  h3 {
    font-size: calc( 33.12865px + (45.55189 - 33.12865) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h3 {
    font-size: 45.55189px;
    margin-top: 1.20741em;
    line-height: 1.4489em;
    margin-bottom: 0.25739em;
  }
}

h4 {
  font-size: 25.99217px;
  margin-top: 1.53893em;
  line-height: 1.84671em;
  margin-bottom: 0.34331em;
}

@media (min-width: 480px) {
  h4 {
    font-size: calc( 25.99217px + (35.73923 - 25.99217) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h4 {
    font-size: 35.73923px;
    margin-top: 1.53893em;
    line-height: 1.84671em;
    margin-bottom: 0.33362em;
  }
}

h5 {
  font-size: 20.39301px;
  margin-top: 1.96146em;
  line-height: 2.35375em;
  margin-bottom: 0.39229em;
}

@media (min-width: 480px) {
  h5 {
    font-size: calc( 20.39301px + (28.04038 - 20.39301) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h5 {
    font-size: 28.04038px;
    margin-top: 1.96146em;
    line-height: 2.35375em;
    margin-bottom: 0.39229em;
  }
}

h6 {
  font-size: 16px;
  margin-top: 2.5em;
  line-height: 3em;
  margin-bottom: 0.5625em;
}

@media (min-width: 480px) {
  h6 {
    font-size: calc( 16px + (22 - 16) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  h6 {
    font-size: 22px;
    margin-top: 2.5em;
    line-height: 3em;
    margin-bottom: 0.53125em;
  }
}

blockquote {
  font-style: italic;
}

blockquote cite {
  display: block;
  font-style: normal;
}

pre {
  padding: 1em;
  margin-bottom: 2em;
}

pre code {
  padding: 0;
}

code {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
  padding: 0.1em 0.3em;
  line-height: 0;
}

big, small, sub, sup {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}

address {
  font-style: normal;
}

dt {
  color: #111;
  font-weight: bold;
}

ul {
  padding-left: 1.1em;
}

ol {
  padding-left: 1.4em;
}

fieldset {
  padding: 1em 2em 2em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 2.09091em;
}

@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.38636em;
  }
}

fieldset button, fieldset input[type="submit"] {
  margin-bottom: 0;
}

legend {
  color: #111;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.5em;
  font-size: 16px;
  margin-bottom: 1.31818em;
}

@media (min-width: 480px) {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: calc( 16px + (22 - 16) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 22px;
    margin-bottom: 0.57955em;
  }
}

input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 2em;
  margin-bottom: 1.36364em;
}

@media (min-width: 480px) {
  input[type="submit"], button {
    font-size: calc( 16px + (22 - 16) * ((100vw - 480px) / (1140 - 480)));
  }
}

@media (min-width: 1140px) {
  input[type="submit"], button {
    font-size: 22px;
    margin-bottom: 1.5em;
  }
}

label {
  display: block;
  padding-bottom: 0.25em;
  margin-bottom: -0.27273em;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.45455em;
}

@media (min-width: 1140px) {
  table {
    margin-bottom: 2.27273em;
  }
}

th {
  text-align: left;
  color: #111;
  padding: 0.25em 1em;
}

@media (min-width: 1140px) {
  th {
    padding: 0.5em 1em;
  }
}

td {
  padding: 1em;
  padding: 0.25em 1em;
}

@media (min-width: 1140px) {
  td {
    padding: 0.5em 1em;
  }
}

/*
    * $BASE
    * Styles applied to an element using an element selector, a
    * descendent selector, or a child selector, along with any pseudo-classes, that define
    * the default look of an element on all pages */
* {
  box-sizing: border-box;
}

.section {
  background: #F2F7F2;
  padding: 50px;
}

@media screen and (max-width: 879px) {
  .section {
    padding: 25px;
  }
}

.header {
  margin: 0px auto 100px auto;
  text-align: center;
  max-width: 1140px;
}

.header p span {
  font-style: italic;
  color: #1B998B;
}

/*
    * $ATOMS
    * Single element styles, such as a form label, input, button,
    * or any other element that's in it's simplest form */
a {
  color: inherit;
  text-decoration: none;
}

/*
    * $MOLECULES
    * A group of elements that function as a single unit such as a
    * search form - label, input, and button */
.cards-list__item {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  -ms-flex: 1 1 350px;
  flex: 1 1 350px;
  margin: 20px;
}

.cards-list__item .card-header img {
  display: block;
  width: 100%;
}

.cards-list__item .card-description {
  padding: 0px 25px 25px 25px;
}

.cards-list__item .card-description h5 {
  text-transform: uppercase;
}

.cards-list__item--row {
  -ms-flex-align: start;
  align-items: flex-start;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

@media screen and (max-width: 879px) {
  .cards-list__item--row {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.cards-list__item--row .card-header {
  width: 40%;
}

@media screen and (max-width: 879px) {
  .cards-list__item--row .card-header {
    width: 100%;
  }
}

.cards-list__item--row .card-header img {
  display: block;
  width: 100%;
  margin: 0px;
}

.cards-list__item--row .card-description {
  margin-left: 25px;
  width: 60%;
}

@media screen and (max-width: 879px) {
  .cards-list__item--row .card-description {
    margin-left: 0px;
    width: 100%;
  }
}

.cards-list__item--row .card-description h5 {
  margin: 0px;
}

/*
    * $ORGANISMS
    * Consists of different molecules, such as a header organism which might contain
    * a logo, navigation, and a search form */
.landing {
  background: #2D3047;
  padding: 0px;
}

.landing-header {
  padding: 125px 50px;
  text-align: left;
  max-width: 1140px;
  margin: 0px auto;
  background-image: url("assets/imgs/pattern.svg");
  background-position: center;
  background-repeat: repeat;
}

.landing-header h1 {
  margin: 0px 0px 30px 0px;
  color: #F2F7F2;
}

.landing-header p {
  margin-bottom: 10px;
  color: #F2F7F2;
}

.landing-header p strong {
  font-style: italic;
  font-weight: 400;
}

.landing-header p .special-one {
  color: #FFFD82;
}

.landing-header p .special-two {
  color: #E84855;
}

.landing-header p .special-three {
  font-style: italic;
  color: #FF9B71;
}

.landing-header p .special-four {
  font-style: italic;
  color: #1B998B;
}

.cards-list {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 1140px;
  margin: 0px auto;
  display: -ms-flexbox;
  display: flex;
}

.cards-list--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  background: #2D3047;
}

.footer .content {
  padding: 50px;
}

.footer .content p {
  text-align: center;
  color: #F2F7F2;
  opacity: 0.2;
  margin: 0px;
}

/*
    * $STATE
    * Styles that define a state of an atom or molecule -
    * i.e. .is-showing .is-collapsed */
